.footerNews {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.containerNews {
  height: 100%;
  background-color: #0d47a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
