.headeNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px; }

.headeNews_logo {
  max-width: 220px; }
  .headeNews_logo img {
    width: 100%;
    height: auto; }

.headeNews_contacts {
  width: 100%;
  max-width: 300px; }

.headeNews_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  .headeNews_text .headeNews_name {
    font-size: 22px;
    font-weight: bold;
    font-family: "Book Antiqua";
    color: rgba(254, 205, 19, 0.85);
    line-height: 1.4;
    text-shadow: black 1.3px 1.3px 0.68px, white 0 0 0.98px; }
  .headeNews_text .headeNews_phone {
    font-size: 20px;
    font-family: "Book Antiqua";
    font-weight: 400;
    color: black;
    line-height: 1.4;
    text-align: right; }
  .headeNews_text .headeNews_mail {
    font-size: 20px;
    font-family: "Times New Roman";
    color: black;
    line-height: 1.4;
    text-align: right; }

.header_doubleline {
  border-top: 10px solid #FFCD00;
  border-bottom: 10px solid #DD9A00; }
